In [1]:
import pandas as pd
import os
import csv

In [4]:
hawaii_measurements = "Resources/hawaii_measurements.csv"
hw_m_df = pd.read_csv(hawaii_measurements)
hw_m_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
hawaii_stations = "Resources/hawaii_stations.csv"
hw_s_df = pd.read_csv(hawaii_stations)
#hw_s_df.head(
(hw_s_df)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
hw_s_df.isnull()

   station   name  latitude  longitude  elevation
0    False  False     False      False      False
1    False  False     False      False      False
2    False  False     False      False      False
3    False  False     False      False      False
4    False  False     False      False      False
5    False  False     False      False      False
6    False  False     False      False      False
7    False  False     False      False      False
8    False  False     False      False      False

In [7]:
hw_m_df.isnull()

       station   date   prcp   tobs
0        False  False  False  False
1        False  False  False  False
2        False  False  False  False
3        False  False  False  False
4        False  False   True  False
5        False  False  False  False
6        False  False  False  False
7        False  False  False  False
8        False  False  False  False
9        False  False  False  False
10       False  False  False  False
11       False  False  False  False
12       False  False  False  False
13       False  False  False  False
14       False  False  False  False
15       False  False  False  False
16       False  False  False  False
17       False  False  False  False
18       False  False  False  False
19       False  False  False  False
20       False  False  False  False
21       False  False  False  False
22       False  False  False  False
23       False  False  False  False
24       False  False  False  False
25       False  False  False  False
26       False  False   True  False
27       False  False  False  False
28       False  False  False  False
29       False  False   True  False
...        ...    ...    ...    ...
19520    False  False  False  False
19521    False  False  False  False
19522    False  False  False  False
19523    False  False  False  False
19524    False  False  False  False
19525    False  False  False  False
19526    False  False  False  False
19527    False  False  False  False
19528    False  False   True  False
19529    False  False  False  False
19530    False  False  False  False
19531    False  False   True  False
19532    False  False   True  False
19533    False  False  False  False
19534    False  False  False  False
19535    False  False  False  False
19536    False  False  False  False
19537    False  False   True  False
19538    False  False  False  False
19539    False  False   True  False
19540    False  False  False  False
19541    False  False  False  False
19542    False  False  False  False
19543    False  False  False  False
19544    False  False   True  False
19545    False  False  False  False
19546    False  False   True  False
19547    False  False  False  False
19548    False  False  False  False
19549    False  False  False  False

[19550 rows x 4 columns]

In [15]:
hw_m_df.value_counts(dropna=False)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [16]:
clean_hw_m_df = hw_m_df.dropna()

In [17]:
clean_hw_m_df.isnull()

       station   date   prcp   tobs
0        False  False  False  False
1        False  False  False  False
2        False  False  False  False
3        False  False  False  False
5        False  False  False  False
6        False  False  False  False
7        False  False  False  False
8        False  False  False  False
9        False  False  False  False
10       False  False  False  False
11       False  False  False  False
12       False  False  False  False
13       False  False  False  False
14       False  False  False  False
15       False  False  False  False
16       False  False  False  False
17       False  False  False  False
18       False  False  False  False
19       False  False  False  False
20       False  False  False  False
21       False  False  False  False
22       False  False  False  False
23       False  False  False  False
24       False  False  False  False
25       False  False  False  False
27       False  False  False  False
28       False  False  False  False
30       False  False  False  False
31       False  False  False  False
32       False  False  False  False
...        ...    ...    ...    ...
19513    False  False  False  False
19514    False  False  False  False
19515    False  False  False  False
19516    False  False  False  False
19517    False  False  False  False
19518    False  False  False  False
19519    False  False  False  False
19520    False  False  False  False
19521    False  False  False  False
19522    False  False  False  False
19523    False  False  False  False
19524    False  False  False  False
19525    False  False  False  False
19526    False  False  False  False
19527    False  False  False  False
19529    False  False  False  False
19530    False  False  False  False
19533    False  False  False  False
19534    False  False  False  False
19535    False  False  False  False
19536    False  False  False  False
19538    False  False  False  False
19540    False  False  False  False
19541    False  False  False  False
19542    False  False  False  False
19543    False  False  False  False
19545    False  False  False  False
19547    False  False  False  False
19548    False  False  False  False
19549    False  False  False  False

[18103 rows x 4 columns]

In [46]:
clean_hw_m_df.to_csv('Resources/Clean_Hawaii_Measurements.csv',index=False)

In [47]:
clean_hw_s_df.to_csv('Resources/Clean_Hawaii_stations.csv',index=False)

END OF Data Engineering